@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
                /**/

                Layout = "Master.cshtml";
                string bannerImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url;
                string CTAImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("ctaImage").Url;
}

<section id="about_banner" style=" background-image: url('@bannerImageUrl')" ;
         background-size: cover;
         background-repeat: no-repeat;
         min-height: 400px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-offset-1">
                <div class="card">
                    <div class="card-body card-white">
                        <h1 class="card-title">@Umbraco.Field("witteBox")</h1>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-offset-1">
                <div class="card">
                    <div class="card-body card-dark">
                        <h2 class="card-title">@Umbraco.Field("zwarteText")</h2>
                        <h4 class="card-title">@Umbraco.Field("bannerAuthor", insertBefore: "-")</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="onder-banner">
    <div class="container-fluid-no-pad">
        <div class="row no-pad">
            <div class="col-md-3">
                <img src="~/img/abt_corporate.jpg" class="img-responsive gallery hvr-grow">
            </div>
            <div class="col-md-3">
                <img src="~/img/abt_graphic.jpg" class="img-responsive gallery hvr-grow">
            </div>
            <div class="col-md-3">
                <img src="~/img/abt_film.jpg" class="img-responsive gallery hvr-grow">
            </div>
            <div class="col-md-3">
                <img src="~/img/abt_events.jpg" class="img-responsive gallery hvr-grow">
            </div>
        </div>
    </div>
</section>
<br>
<section id="about-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <h1 class="bolder">@Umbraco.Field("titleText")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2>@Umbraco.Field("subtitle") </h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p>@Umbraco.Field("aboutTextCol1")</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <p>@Umbraco.Field("aboutTextCol2")</p>
            </div>
        </div>


    </div>
</section>
<br>
<br>
<section id="about-foto-section">
    <div class="container-fluid-no-pad">
        <div class="row no-pad">
            <div class="col-md-4 image">
                <img src="~/img/karinGroot.jpg" class="img-responsive gallery">
                <div class="overlay">
                    <h1 class="about-hov-title">Karin Revos </h1>
                    <h5 class="about-hov-functie">CEO </h5>
                    <p class="about-hov-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero.</p>
                    <br>
                    <br>
                    <div class="socials">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </div>

                </div>
            </div>
            <div class="col-md-4 image">
                <img src="/img/kenzoGroot.jpg" class="img-responsive gallery">
                <div class="overlay">
                    <h1 class="about-hov-title">Kenzo Soemodihardjo </h1>
                    <h5 class="about-hov-functie">Creative Director </h5>
                    <p class="about-hov-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero.</p>
                    <br>
                    <br>
                    <div class="socials">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </div>

                </div>
            </div>
            <div class="col-md-4 image">
                <img src="~/img/charleneGroot.jpg" class="img-responsive gallery">
                <div class="overlay">
                    <h1 class="about-hov-title">Charlene van Varsseveld </h1>
                    <h5 class="about-hov-functie">Project Manager </h5>
                    <p class="about-hov-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero.</p>
                    <br>
                    <br>
                    <div class="socials">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="cta-banner" style="background-image: url('@CTAImageUrl');
	background-size: cover;
	background-repeat: no-repeat;
	min-height:600px;
	height: 100%;
	width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">

                <h2 class="cta-text">Want to know what STAS can do for u?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-">
                <button class="btn btn-white" data-toggle="modal" data-target="#exampleModalCenter">LET'S GET IN TOUCH</button>
            </div>
        </div>
    </div>
</section>
@{ Html.RenderPartial("Content/_CTAProccessing");}

@{ Html.RenderPartial("Content/_ContactBanner");}