@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Events>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    string bannerImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url;
    string logistiekFotoUrl = Model.Content.GetPropertyValue<IPublishedContent>("logistiekFoto").Url;
    string conceptFotoUrl = Model.Content.GetPropertyValue<IPublishedContent>("conceptFoto").Url;
    string persFotoUrl = Model.Content.GetPropertyValue<IPublishedContent>("persFoto").Url;
    IEnumerable<IPublishedContent> fotosLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("FotosLinks");
    IEnumerable<IPublishedContent> fotosRechts = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("FotosRechts");
}


<!-- Main jumbotron for a primary marketing message or call to action -->
<section id="event_banner" style="background-image: url('@bannerImageUrl?width=1348&height=463&mode=crop');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-offset-1">
                <div class="card">
                    <div class="card-body card-white">
                        <h1 class="card-title">@Umbraco.Field("witteBox")</h1>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-offset-1">
                <div class="card">
                    <div class="card-body card-dark">
                        <h2 class="card-title">@Umbraco.Field("zwarteText")</h2>
                        <h4 class="card-title">@Umbraco.Field("bannerAuthor", insertBefore: "-")</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8-offset-2">
            <h1 class="event-text">@Umbraco.Field("titleText")</h1>
        </div>
        <br>
        <div class="col-md-10-offset-1">
            <p>@Umbraco.Field("subtitle")</p>
        </div>
    </div>
</div>

<!-- charts -->
<script>
    $(document).ready(function () {
        var ctx = $("#canvasLogistiek").get(0).getContext("2d");
        var data = [
            {
                value: 100,
                color: "#eeeeee",
                highlight: "grey",
                label: "Logistiek"
            }
        ];
        var chart = new Chart(ctx).Doughnut(data);
    });
    $(document).ready(function () {
        var ctx = $("#canvasConcept").get(0).getContext("2d");
        var data = [
            {
                value: 100,
                color: "#eeeeee",
                highlight: "grey",
                label: "Concept"
            }
        ];
        var chart = new Chart(ctx).Doughnut(data);
    });
    $(document).ready(function () {
        var ctx = $("#canvasPers").get(0).getContext("2d");
        var data = [
            {
                value: 100,
                color: "#eeeeee",
                highlight: "grey",
                label: "Pers"
            }
        ];
        var chart = new Chart(ctx).Doughnut(data);
    });
</script>
<div class="container">
    <div class="row">

        <div class="col-md-2 col-md-offset-1">
            <img src="@logistiekFotoUrl" class="img-responsive">


            <h2 class="under-chart-text">@Umbraco.Field("logistiekTitle")</h2>
            <center><p>@Umbraco.Field("logistiekText")</p></center>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <img src="@conceptFotoUrl" class="img-responsive">

            </canvas>



            <h2 class="under-chart-text2">@Umbraco.Field("conceptTitle")</h2>
            <center><p>@Umbraco.Field("conceptText")</p></center>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <img src="@persFotoUrl" class="img-responsive">


            <h2 class="under-chart-text2">@Umbraco.Field("persTitle")</h2>
            <center><p>@Umbraco.Field("persText")</p></center>
        </div>
    </div>
</div>



       </div>


<br>
<section id="gallery">
    <div class="container-fluid gallery">
        <div class="row no-pad gallery">
            <div class="col-md-6  ">
                @if (fotosLinks != null && fotosLinks.Count() > 0)
    {
            <div class="col-md-6 gallery">
                <img class="img-responsive hvr-grow-rotate" src="@(fotosLinks.First().Url)?width=337&height=337&mode=crop" />
            </div>
                    foreach (IPublishedContent image in fotosLinks.Skip(1))
                    {
            <div class="col-md-6 gallery">
                <img class="img-responsive hvr-grow-rotate" src="@(image.Url)?width=337&height=337&mode=crop" />
            </div>
                    }
                }


            </div>
            
            <div class="col-md-6 no-pad gallery">
                @if (fotosRechts != null && fotosRechts.Count() > 0)
                {
                <div class="col-md-12 gallery">
                    <img class="img-responsive hvr-grow-rotate" src="@(fotosRechts.First().Url)?width=675&height=675&mode=crop" />
                </div>
                    foreach (IPublishedContent image in fotosRechts.Skip(1))
                    {
                <div class="col-md-12 gallery">
                    <img class="img-responsive hvr-grow-rotate" src="@(image.Url)?width=675&height=675&mode=crop" />
                </div>
                    }
                }
                
            </div>
        </div>
        

    </div>
</section>
<section id="quote-slider">
    <div class="container-fluid">
        <div class="row">
            <div class='col-md-12 text-center'>

            </div>
        </div>
        <div class='row'>
            <div class='col-md-12-modified'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">

                        <!-- Quote 1 -->
                        <div class="item active">

                            <blockquote>
                                <div class="row box-white">

                                    <div class="col-sm-9">
                                        
                                        <i class="fas fa-quote-left fa-4x"></i><p>@Umbraco.Field("quote")</p>
                                        <small class="author">@Umbraco.Field("quoteAuthor")</small>
                                    </div>
                                </div>
                            </blockquote>

                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row box-white">

                                    <div class="col-sm-9">
                                        
                                       <i class="fas fa-quote-left fa-4x"></i> <p>@Umbraco.Field("quote2")</p>
                                        <small class="author">@Umbraco.Field("quote2Author")</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row box-white">
                                   
                                    <div class="col-sm-9">
                                        
                                       <i class="fas fa-quote-left fa-4x"></i> <p>@Umbraco.Field("quote3")</p>
                                        <small class="author">@Umbraco.Field("quote3Author")</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                </div>
            </div>
        </div>
    </div>
</section>

@{ Html.RenderPartial("Content/_ContactBanner");}
