@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GraphicDesign>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    string bannerImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url;
    string CTAImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("ctaImage").Url;
    string ontwerpFotoUrl= Model.Content.GetPropertyValue<IPublishedContent>("ontwerpFoto").Url;
    string dtpFotoUrl= Model.Content.GetPropertyValue<IPublishedContent>("dtpFoto").Url;
    string webdesignFotoUrl= Model.Content.GetPropertyValue<IPublishedContent>("webdesignFoto").Url;
    string adobeCCFotoUrl= Model.Content.GetPropertyValue<IPublishedContent>("adobeCCFoto").Url;
    IEnumerable<IPublishedContent> graphicImages = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("graphicImages");
}
<!-- Main jumbotron for a primary marketing message or call to action -->
<section id="graphic_banner" style=" background-image: url('@bannerImageUrl?width=1348&height=463&mode=crop');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="card">
                    <div class="card-body card-white">
                        <h1 class="card-title">@Umbraco.Field("witteBox")</h1>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="card">
                    <div class="card-body card-dark">
                        <h2 class="card-title">@Umbraco.Field("zwarteText")</h2>
                        <h4 class="card-title card-author">@Umbraco.Field("bannerAuthor", insertBefore: "-")</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h1>@Umbraco.Field("titleText")</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 offset-2">


            <p>@Umbraco.Field("graphicColLinks") </p>

        </div>
        <div class="col-md-6 offset-2">

            <p>@Umbraco.Field("graphicColRechts") </p>

        </div>

    </div>
</div>
<br>
<br>
<!-- charts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2">
            <!--  <canvas id="canvasDesign" width="200" height="200">

             </canvas> -->
            <img src="@ontwerpFotoUrl" class="img-responsive">
            <h3 class="under-chart-text">@Umbraco.Field("ontwerp")</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2 ">
            <!--    <canvas id="canvasDtp" width="200" height="200">

               </canvas> -->
            <img src="@dtpFotoUrl" class="img-responsive">
            <h3 class="under-chart-text">@Umbraco.Field("dTP")</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2  ">

            <!-- <canvas id="canvasWebDesign" width="200" height="200">

            </canvas> -->
            <img src="@webdesignFotoUrl" class="img-responsive img61">
            <h3 class="under-chart-text">@Umbraco.Field("webdesign")</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2 ">
            <!-- <canvas id="canvasAdobeCC" width="200" height="200">

            </canvas> -->
            <img src="@adobeCCFotoUrl" class="img-responsive">
            <h3 class="under-chart-text">@Umbraco.Field("adobeCC")</h3>
        </div>



    </div>
</div>

<!-- charts -->


<br>
<br>
<section id="gallery">
    <div class="container-fluid">
        <div class="row">
            @if (graphicImages != null && graphicImages.Count() > 0)
    {
        <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">

            <img class="img-responsive" src="@(graphicImages.First().Url)?width=450&height=450&mode=crop" />

        </div>
                foreach (IPublishedContent image in graphicImages.Skip(1))
                {
        <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">
            <img class="img-responsive" src="@(image.Url)?width=450&height=450&mode=crop" />
            </div>
                }
            }

            
           

        </div>

        </div>
    
</section>
<section id="cta-banner" style="background-image: url('@CTAImageUrl');
	background-size: cover;
	background-repeat: no-repeat;
	min-height:600px;
	height: 100%;
	width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">

                <h2 class="cta-text">Want to know what STAS can do for u?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-">
                <a class="btn btn-white" href="/">LET'S GET IN TOUCH</a>
            </div>
        </div>
    </div>
</section>
@{ Html.RenderPartial("Content/_CTAProccessing");}


@{Html.RenderPartial("Content/_ContactBanner");}